@import "tailwindcss";

:root {
  --background: #fcfbf7;
  --foreground: #171717;
  --primary: #183B4E;
  --secondary: #F5EEDC;
  --accent-terracotta: #EC5228;
  --accent-navy: #2c3e50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-accent-terracotta: var(--accent-terracotta);
  --color-accent-navy: var(--accent-navy);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcfbf7;
    --foreground: #171717;
    --primary: #183B4E;
    --secondary: #F5EEDC;
    --accent-terracotta: #EC5228;
    --accent-navy: #2c3e50;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Playfair, Raleway, sans-serif;
}
